.app {
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
}

h1, h2 {
  text-align: center;
}

p {
  margin: 0;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  min-width: 285px;
}

.gtfs-upload-button {
  background-color: #4CAF50;
}

.drag-overlay {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  background-color: lightblue;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 20px lightblue;
  opacity: 0.8;
  z-index: 9999;
}

.drag-overlay h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ReactTable button {
  border: none;
  color: white;
  background-color: #4CAF50;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.rt-thead {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.rt-th {
  background-color: #fff;
}

.rt-table {
  height: calc(100vh - 380px);
}

.rt-tbody {
  height: auto;
  overflow: visible !important;
  text-align: center;
}